
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(7, 7, 7);
}

.App-link {
  color: white;
}
.Boton{
  height: 10vmin;
}
.Boton_comment{
  /* background-image: image('../imagenes/ArrowRight.png'); */
  height: 5vmin;
  display:flex;
  justify-content:end;
  margin-top: 5px;
  margin-left: 5px;
 }
#circle {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: solid 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;

}
#Boton1{
  height: 10vmin;
  margin-top: 50px;
}
.BotonGoogle{
  padding-left: 12px;
  height:80px;
  width: 100%;
  background-color: white;
  /* border: solid 3px black; */
  /* display: flex; */
  font-size: 30px;
  margin-top: 60px;
  overflow: hidden;
}

#botonesLogin{
  display: flex;
  align-items: center;
  justify-content: center; 

}
#avatar{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: solid 2px rgb(175, 172, 172);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
/* #galeria {
  width: 80%;
  margin: auto;
  margin-bottom: 180px;
  height: 50%;
} */

/* .columnaizq {
  float: left;
  width: 50%;

} */

/* .columnader {
  float: right;
  width: 50%;
 
} */

/* .ciudad {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 6px 3px;
  overflow: hidden;
} */
