div.figure {
    float: right;
    width:100%;
    border: thin silver solid;
    margin: 0.25em;
    padding: 0.25em;
  }
  div.figure p {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    font-weight: bold;
    text-indent: 0;
  }
  img.scaled {
    width: 100%;
  }
  .col-6{
    padding:4px;
  }